{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block form %}
    <div class="preview">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Save</button>
    </form>
    <!-- O source deveser de uma imagem escrita, make a change do preview your future image -->
    <img class="preview-image" src="../../../media/images/preview/preview_{{ request.user.username }}.png">
    </div>
{% endblock form %}

{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static 'posts/ajax.js' %}"></script>
{% endblock %}

